html,
body {
  padding: 0;
  margin: 0;
  background-color: #f7cfe1;
  font-family: 'Ideal Sans A', 'Ideal Sans B', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.5em;
}

p {
  margin: 0;
  margin-bottom: 0.25em;

  &.no-margin {
    margin: 0;
  }
}

button {
  font-family: 'Ideal Sans A', 'Ideal Sans B', sans-serif;
  font-weight: 700;
}

span.icon {
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
  height: 100%;

  @media screen and (max-width: 379px) {
    padding: 2em;
  }
}

.bodyContainer {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.inputContainer,
.pendingContainer,
.previewContainer {
  display: none;
  position: relative;

  width: calc(100vw - 8em);
  height: calc(100vw - 8em);

  @media screen and (min-width: 769px) {
    width: 648px;
    height: 648px;
    margin-top: 2em;
  }

  @media screen and (max-width: 379px) {
    width: calc(100vw - 4em);
    height: calc(100vw - 4em);
  }

  &.active {
    display: block;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: calc(100vw - 8em);

  @media screen and (min-width: 769px) {
    width: 648px;
  }

  @media screen and (max-width: 379px) {
    width: calc(100vw - 4em);
  }

  h1 {
    margin: 0;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;

    .icon {
      font-size: 16px;
    }
  }
}

.inputContainer,
.pendingContainer,
.previewContainer {
  .icon {
    margin-left: 2px;
    font-size: 16px;
  }

  button {
    width: 100%;
    position: absolute;
    bottom: -75px;
    border: none;
    background: #f48037;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
  }
}

.inputContainer.redo {
  img {
    opacity: 0.35;
    cursor: pointer;
  }

  .uploadInput {
    background: #EFE1CE;

    p {
      display: none;
    }
    p.redo-only {
      display: block;
    }
  }

  .continueButton {
    display: block;
  }
}

.inputContainer,
.pendingContainer {
  border: 2px solid #c62368;

  #imgUpload {
    display: none;
  }

  .uploadInput {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ideal Sans A', 'Ideal Sans B', sans-serif;
    font-weight: 700;
    background: #d2e8df;
    cursor: pointer;

    p.redo-only {
      display: none;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .continueButton {
    display: none;
    width: 33%;
    right: 0;

    p {
      color: black;
    }

    @media screen and (max-width: 769px) {
      width: 50%;
    }
  }
}

.pendingContainer {
  border: none;

  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.previewContainer {
  canvas, img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  &.uploading {
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      content: 'uploading... ⌛';
      font-family: 'Ideal Sans A', 'Ideal Sans B', sans-serif;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.75);
    }
  }

  &.processing {
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      content: 'processing... 🥁';
      font-family: 'Ideal Sans A', 'Ideal Sans B', sans-serif;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.75);
    }
  }

  .redoButton {
    width: 33%;
    left: 0;

    p {
      color: black;
    }
  }

  .mintButton {
    width: 33%;
    right: 0;

    p {
      color: black;
    }

    @media screen and (max-width: 769px) {
      width: 50%;
    }
  }
}

.cropper-point.point-se {
  width: 15px;
  height: 15px;
}

// modal styling
.modal {
  display: none;
  z-index: 2;
  pointer-events: all;

  &.is-open {
    display: flex;

    @media screen and (max-width: 769px) {
      position: fixed;
    }
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalContainer {
    background-color: #fff;
    padding: 45px;
    width: 480px;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;

    @media screen and (max-width: 769px) {
      width: auto;
      max-width: 90vw;
      padding: 15px;
    }

    ul {
      margin-top: 10px;
      margin-left: 5px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .modal-close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 24px;
  }
}